.App {
  font-family: 'roboto';
}

.centered {
  text-align: center;
}

.title {
  margin-top: 80px;
  font-size: 32px;
}

.arrow {
  width: 20px;
  text-align: left;
}

.leftmargin {
  margin-top: 24px;

  margin-left: 24px;
}